<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Eat-Da-Burger</h1>
    <img src="/assets/img/burger.jpg" id="burger-header" class="img-responsive center-block" alt="burger time">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        {{#each burger}}
          {{#unless this.devoured}}
          <div class="burger-list">
              <h4>{{this.id}}. {{this.burger_name}}</h4>
              <buton type="submit" class="btn btn-success js_updateBurger">Devour</buton>
          </div>
          {{/unless}}
        {{/each}}
    </div>
  <div>
</div>

<div class="container">
  <div class="col-md-6">
      {{#each burger}}
        {{#if this.devoured}}
        <div class="burger-list">
          <h4>{{this.id}}. {{this.burger_name}}</h4>
        </div>
        {{/if}}
      {{/each}}
  </div>
</div>


<div class="row">
  <h2 class="text-center">Add a burger</h2>
  <form class="create-form text-center create-update-form" action="/" method="POST">
  
  <div class="form-group">
    <label for="input">Burger name:</label>
    <input type="text" name="burger_name">
  </div>

  <button type="submit" class="btn btn-sm btn-primary" id="submit-btn">Add burger</button>
  </form>
</div>