<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Eat-Da-Burger</h1>
    <center><img src="/assets/img/burger.jpg" id="burger-header" class="img-responsive center-block" alt="burger time"></center>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Burger Menu</h3>
      <hr>
      <ul class="text-center">
        {{#each burger}}
          {{#unless this.devoured}}
          <li>
              <h4>{{this.burger_name}}</h4>
              <button type="submit" class="btn btn-success" id="devour-btn">Devour</button>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
      <hr>
    </div>
  
    <div class="col-md-6">
      <h3 class="text-center"></h3>
      <hr>
        <ul class="text-center">
          {{#each burger}}
            {{#if this.devoured}}
            <li>
              <h4>{{this.burger_name}}</h4>
              <button type="submit" class="btn btn-sm btn-danger">Delete burger</button>
            </li>
            {{/if}}
          {{/each}}
    </div>
  </div>
</div>


<div class="container">
  <h2 class="text-center">Add a burger</h2>
  <form class="create-form text-center create-update-form">
  
  <div class="form-group">
    <label for="input">Burger name:</label>
    <input type="text" name="burger_name" id="burger_input">
  </div>

  <button type="submit" class="btn btn-sm btn-primary" id="submit-btn">Add burger</button>
  </form>
</div>