body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#burger-header {
  height: 400px;
  width: 400px;
}

li {
  padding: 5px;
  margin: 5px;
  list-style: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}